body {
    background-color: #3c0451; /* hex */
    font-family: Apple Chancery, cursive;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: red;
}

p {
    color: #333;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: blue;
}