body {
    margin: 0;
    padding: 0;
    font-family: Brush Script MT, Brush Script Std, cursive;
    background-color: #3c0451; /* Purple*/
}

.container {
    position: relative;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: red;
}

p {
    color: #D21401;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: blue;
}

.gif-image {
    position: absolute;
    bottom: -20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}